.quizConditions{
    & ul{
        & p{
            margin: 0;
        }
        & li{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
}